<p>products works!</p>

<h1>Product List</h1>
<div class='table-responsive'>
    <table class='table'>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products;">
                <td>{{product.productID}}</td>
                <td><a>{{product.name| uppercase}} </a> </td><!--[routerLink]="['detail',product.productID]"-->
                <td>{{product.price}}</td>
                <td>{{product.date | date: 'short' | lowercase}}</td>
            </tr>
        </tbody>
    </table>
</div>
